* {
  margin : 0px;
  padding: 0px;
}

h1 {
  margin : 12px 12px;
  padding: 12px;

}

.todo-container {
  background-color:black;
  color           : white;
}

input {
  width: 80%;
  border-radius: 5px;
  height: 35px;
}

div {
  padding: 2px;
}

.text{
    padding: 2px;
}


.my-btn{
    width: 80%;
}